h1{
	font-family: Arial;
}

.centrer{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

input{
	width: 100px;
	height: 20px;
	font-size: 10px;
	background-color: gray;
	color: black;
	margin-top: 10px;
	border: 2px solid black;
	font-family: Arial;
}

textarea{
	background-color: black;
	color: grey;
	border: 2px solid grey;
}